/*
Colors used:
Primary Color (Teal): #4fafc0;
Secondary Color (Turquoise): #6ebfd6;
Secondary Color (Coral): e8716d;
Text Color (Grey): #4c4c4f;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.76);
  -moz-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.76);
  box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.76);
  position: fixed;
  width: 100%
}

main {
  padding-top: 210px;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4c4c4f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 28pt;
  font-weight: 700;
}

h2 {
  font-size: 22pt;
  font-weight: 700;
}

h3 {
  font-size: 18pt;
  font-weight: 400;
}

h4 {
  font-size: 16pt;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #4fafc0;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  color: #e8716d;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #6ebfd6;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #6ebfd6;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  border-radius: 21px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none
}

.button.contact {
  background-color: transparent;
  color: #e8716d;
  border: 2px solid #e8716d;
  border-radius: 21px;
  padding: 10px 20px 10px 20px;
}

.button.contact:hover {
  background-color: #e8716d;
  color: #ffffff;
}

.cv-button {
  background: #4fafc0;
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  color: #ffffff;
  font-size: 18px;
  background: #4fafc0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cv-button:hover {
  background: #e8716d;
  text-decoration: none;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  content: "";
  clear: both;
  display: table;
}
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero {
  background-color: #e2f2f7;
  padding: 20px 0;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4fafc0;
}

.social {
  text-align: center;
  padding-top: 30px;
}

.social a {
  display: inline-block;
  width: 50px;
  margin: 0 5px;
}

footer {
  text-align: center;
}

#about-page h3 {
  margin-top: 0;
}
.austin-svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  from {fill: #f3f5f4;}
  to {fill: #ffffff;}
}
.clouds {
  {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    padding-top: 99px;
    font-size: 16pt;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-7 {
    width: 58.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
